:root {
  --white-color: #e1e1da;
  --black-color: #070919;
}

html,
body,
main {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.countdown {
  margin: 32px 0;
}

.countdown-title {
  margin: 0;
}

.countdown-time {
  margin: 0;
}

@media (prefers-color-scheme: no-preference) {
  body {
    background-color: var(--white-color);
    color: var(--black-color);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--white-color);
    color: var(--black-color);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--white-color);
    background-color: var(--black-color);
  }
}
