html,
body,
main {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.countdown {
  line-height: 8px;
}

@media (prefers-color-scheme: no-preference) {
  body {
    background-color: #e1e1da;
    color: #070919;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #e1e1da;
    color: #070919;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: #e1e1da;
    background-color: #070919;
  }
}
